html,body{
    background-color: black;
}

h3{
    font-family: 'Lato', sans-serif;
}
h1{
    font-family: 'Oswald', sans-serif;
}
nav{
    width: 100%;
    height: 80px;
    background-color: transparent;
    color: white;
    padding-left: 30px;
}

.nav-con{
    width: 80%;
    height: 50px;
    float: left;
    margin-top: 35px;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float: left;
    height: 26px;
    text-align: center;
    margin-right: 10px;
    padding-left: 40px;
}


.logo{
    float: left;
    margin-left: 50px;
    margin-left: 30px;
    margin-top: 25px;
}

.container-fluid{
    width: 100%;
}

form{
    width:500px;
    background-color: #2b2b2b;
    margin-top: 0 auto;
    height: 500px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
    padding-top: 25px;
}

.input-elm{
    width: 100%;
    height: 45px;
    border-radius: 25px;
    padding-left: 15px;
    margin-top: 15px;
    border: none;
    background-color: black;
    color: white;
}

select, button{
    width: 100% !important;
    
}

.text2{
    color: white;
    padding-top: 40px;
    padding-left: 70px;
}



.button-play{
    background-color: turquoise;
    width: 10%;
    height: 50px;
    border: 2px solid ;
    border-radius: 25px;
    color: white;
    float: right;
}

h3{
    color: white;
}

.col-box1{
    width: 500px;
    height: 300px;
    background-color: transparent;
    color: white;
    margin-left: 150px
}

.col-box2{
    width:500px;
    height: 175px;
    background-color: lightgray;
    margin-left: 150px;
}
.col-6{
    padding-left: 100px;
    padding-right: 100px;
}

.button1{
    width: 255px;
    height: 40px;
    text-align: left;
    border: 2px solid white;
    border-radius: 25px;
    background-color: black;
    float: right;
    margin-top: -20px;
    margin-left: 280px;
    margin-right: -80px;
    padding-left: 10px;
    color: white;
}

.button-normal{
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}

.button-normal1{
    float: right;
    margin-right: 100px;
    margin-top: 30px;
}
    
li{
    color: white;
}

.col-6{
    margin-top: 50px;
}

.button-socials{
    float: right;
    margin-right: 80px;
    margin-top: -40px;
    color: white;
}


.button-normal3{
    float: right;
    padding-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
}

.button-normal4{
    float: right;
    margin-left: 10px;
    padding-top: 10px;
}


.button-normal5{
    float: right;
    margin-left: 10px;
    padding-top: 10px;
}


.button-normal6{
    float: right;
    margin-left: 10px;
    padding-top: 10px;
}

footer{
    height: 125px;
    width: 100%;
    margin-top: 100px;
    background-color: turquoise;
}
